<div class="fixed navigationBar">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <a href="#selectGames"><i class="fa fa-check-square-o"></i>-Buzz | <span ng-transclude></span></a>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar back">
                <a href ng-click="back()">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
            <li class="toggle-topbar create">
                <a ng-href="#createGame">
                    <i class="fa fa-plus-square"></i>
                </a>
            </li>
        </ul>

        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li>
                    <a href ng-click="back()">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>
                <li>
                    <a ng-href="#createGame">
                        <i class="fa fa-plus-square"></i>
                    </a>
                </li>
            </ul>
        </section>
    </nav>
</div>
