.contentList{
  padding-top: rem-calc(15);

  ul.list, ul.inlinelist{
    list-style: none;

    li{
      padding: rem-calc(10);
      margin: 0 0 rem-calc(10) 0;
      background-color: #EEEEEE;
    }

    .head{
      background-color: #444444;
      color: #EEEEEE;
    }
  }

  ul.inlinelist{
    color: #222222;
  }

  ul{
    margin: 0;
    padding: 0;
  }
}